h2{
  font-size: 1.2rem;
  margin-top: 2rem;
}
a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7rem;
  display: inline-block;
  text-align: center;
  color: $primary-color;
  &:hover{
    color: $dark-red;
  }
}
.to-top{
  margin-top: 1rem;
  display: block;
  cursor: pointer;
  &:hover{
    color: $dark-red;
  }
}
img{
  max-width: 100%;
}
.site-footer{
  background: #000;
  margin-top: 1rem;
  padding: 1rem;
  h2{
    margin-top: 0;
  }
}
.container{
  padding: 1rem;
  margin: 0 auto;
  max-width: 900px;
}

.block-title{
  margin-top:33px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dashed $primary-color;
  margin-bottom: 20px;
  color: $primary-color;
  h2{
    margin: 0;
  }
}

.block-content{
  line-height: 1.5;
}

.social-media{
  a{
    padding: 0;
  }
}

.tour{
  margin-top:20px;
  border-top: 1px solid $primary-color;
  margin-bottom: 100px;
}
.tour-grid{
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: .7rem;
  text-align: left;
  border-bottom: 1px solid $primary-color;
  justify-content: center;
  p{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px 5px 10px;
    margin: 0;
    hyphens: auto;
    &:nth-child(2){
      border-right: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
    }
  }
  a{
    border:none;
    border-left: 1px solid $primary-color;
    background:none;
    color: $primary-color;
    transition: .2s;
    &:hover{
      background:$primary-color;
      color: $white;
    }
  }
}

.social-media{
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  a{
    text-align: left;
  }
}

@media (min-width:768px){
  .container{
    width: 90%;
  }
}